* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#myCanvas {
    /* border: 2px solid gray; */
    width: min(100vw, calc(100vh * 16 / 9));
    height: auto;
    image-rendering: pixelated;
}